<%= form_for :repo, url:awords_path, method: :get do |f| %>
  <%= f.text_field(:repo_name, value:@repo_name) %>
  <%= submit_tag("Search") %>
<% end %>
<h1>Results</h1>
  <p>
    <a href='<%= @repo_api_name %>'>get JSON</a>
  </p>
